<div class="panel panel-primary">

    <div class="panel-heading" ng-click="collapse()">Name: {{user.name}} </div>
    <div class="panel-body" ng-hide="isCollapsed">
        <div ng-show="!!user.address">
            <h4>Address:</h4>
            <br/> street: {{user.address.street}}
            <br/> city: {{user.address.city}}
            <br/> country: {{user.address.country}}
        </div>
        <br/>

        <div>
            <h4>friends:</h4>
            <ul>
                <li ng-repeat="friend in user.friends"> {{friend}} </li>
            </ul>
        </div>
        <div ng-show="!!user.rank">
            rank: {{user.rank}}
        </div>
        <button  ng-show="!user.rank" class="btn btn-success" ng-click="knightMe()">Kinght Me</button>
    </div>
</div>